@media (min-width:960px){
    *{
        margin: 0%;
        padding: 0%;
    }
    
    nav{
        width: 100%;
        height: 100%;
    }
    ul{
        width: 100%;
        display: table;
        text-align: center;
        background-color: black;
    }
    ul li{
        list-style: none;
        display: inline-flex;
        float: none;
        line-height: 8vh;
    }
    
    ul li a{
        font-size: 2.5vh;
        text-decoration: none;
        color: white;
        margin-left: 1vw;
        margin-right: 1vw;
        min-height: 8vh;
        position: relative;
        padding-right: 2vw;
        padding-left: 2vw;
        height: 100%;
    }
    
    a:hover{
        color: black;
        background-color: white;
    
    }
    
    
    body{
        background-color: whitesmoke;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    h1{
        font-size: 5vw;
        font-weight: 600;
    }

    
    #contact{
        display: flex;
    }
    
    #info{
        text-align: center;
        width: 50vw;
        padding-top: 11vh;
    }
    
    #info h4{
        font-weight: 450;
        font-size: 1.5vw;
        color: rgb(44, 44, 44);
        padding-bottom: 1vh;
    }
    
    #calendar{
        min-width: 50vw;
        display: flex;
    }
    
    #calendar iframe{
        min-height: 50vh;
        width: 85%;
        margin-left: 7.5%;
        align-self: center;
        filter: invert(.9) saturate(0.5) hue-rotate(145deg);
    }

    #contact2{
        display: flex;
        margin-top: 7vh;
        margin-bottom: 7vh;
    }

    #contact2 #map{
        width: 50vw;
        display: flex;
    }

    #contact2 #map iframe{
        filter: invert(.9) saturate(0.5) hue-rotate(145deg);
        width: 80%;
        margin-left: 10%;
    }

    #contact2 form{
        width: 50vw;
        margin-top: 3vh;
    }

    #contact2 form input{
        width: 50%;
        height: 4vh;
        margin-left: 25%;
        margin-top: 2vh;
        border-radius: 0.5px;
        border-width: 1px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #contact2 form input:focus{
        outline-style: none;
    }

    #contact2 form textarea{
        min-width: 50%;
        min-height: 10vh;
        max-height: 40vh;
        margin-left: 25%;
        resize: vertical;
        outline: none;
        border-radius: 0.5px;
        margin-top: 2vh;
        border-width: 1px;
        border-color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #contact2 form #bt{
        background-color: black;
        color: aliceblue;
        border-color: black;
        border-radius: 0.5px;
        min-width: 50.5%;
    }

    #contact2 form #bt:active{
        background-color: rgb(61, 61, 61);
        color: aliceblue;
        border-color: rgb(61, 61, 61);
    }

    #content hr{
        display: none;
    }

    #footer{
        background-color: black;
        height: 7vh;
        color: aliceblue;
        display: flex;
    }

    #footer #footer-info-left{
        text-align: left;
        height: 100%;
        width: 50%;
    }

    #footer #footer-info-left h6{
        font-weight: 50;
        margin-top: 2.5vh;
        margin-left: 3vw;
        font-size: 2vh;
    }

    #footer #footer-info-right{
        text-align: right;
        height: 100%;
        width: 50%;
    }

    #footer #footer-info-right #link{
        font-size: 2vh;
        font-weight: 50;
        margin-top: 2.5vh;
        margin-right: 3vw;
        font-size: 2vh;
    }
    
    #footer #footer-info-right #link a{
        color: aliceblue;
        text-decoration: none;
    }

}


@media (max-width:960px){
    *{
        margin: 0%;
        padding: 0%;
    }
    
    nav{
        width: 100%;
        height: 100%;
    }
    ul{
        width: 100%;
        display: table;
        text-align: center;
        background-color: rgb(0, 0, 0);
    }
    ul li{
        list-style: none;
        display: inline-flex;
        float: none;
        line-height: 8vh;
    }
    
    ul li a{
        font-size: 2.5vh;
        text-decoration: none;
        color: white;
        margin-left: 1vw;
        margin-right: 1vw;
        min-height: 8vh;
        position: relative;
        padding-right: 2vw;
        padding-left: 2vw;
        height: 100%;
    }
    
    a:hover{
        color: black;
        background-color: white;
    
    }
    
    
    body{
        background-color: whitesmoke;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    h1{
        font-size: 5vh;
        font-weight: 600;
    }


    
    #contact{
        display: block;
    }
    
    #info{
        text-align: center;
    }
    
    #info h4{
        font-weight: 450;
        font-size: 1.5vh;
        color: rgb(44, 44, 44);
        padding-bottom: 1vh;
    }
    
    #calendar{
        margin-left: 10vw;

    }
    
    #calendar iframe{
        min-height: 50vh;
        width: 80vw;
        filter: invert(.9) saturate(0.5) hue-rotate(145deg);
    }

    #contact2{
        display: inline-block;
        width: 100%;
    }

    #contact2 #map{
        display: flex;
        margin-left: 10vw;

    }

    #contact2 #map iframe{
        filter: invert(.9) saturate(0.5) hue-rotate(145deg);
        min-height: 50vh;
        width: 80vw;

    }

    #contact2 form{
        margin-top: 3vh;
    }

    #contact2 form input{
        width: 50%;
        height: 4vh;
        margin-left: 25%;
        margin-top: 2vh;
        border-radius: 0.5px;
        border-width: 1px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #contact2 form #txtName{
        margin-top: -2vh;
    }

    #contact2 form input:focus{
        outline-style: none;
    }

    #contact2 form textarea{
        min-width: 50%;
        min-height: 10vh;
        max-height: 40vh;
        margin-left: 25%;
        resize: vertical;
        outline: none;
        border-radius: 0.5px;
        margin-top: 2vh;
        border-width: 1px;
        border-color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #contact2 form #bt{
        background-color: black;
        color: aliceblue;
        border-color: black;
        border-radius: 0.5px;
        min-width: 50.5%;
    }

    #contact2 form #bt:active{
        background-color: rgb(61, 61, 61);
        color: aliceblue;
        border-color: rgb(61, 61, 61);
    }

    hr{
        width: 60%;
        margin-left: 20%;
        margin-top: 4vh;
        margin-bottom: 4vh;
        border-top: 1.5px solid black;
    }

    #footer{
        margin-top: 4vh;
        background-color: black;
        height: 7vh;
        color: aliceblue;
        display: flex;
    }

    #footer #footer-info-left{
        text-align: left;
        height: 100%;
        width: 50%;
    }

    #footer #footer-info-left h6{
        font-weight: 50;
        margin-top: 2.5vh;
        margin-left: 3vw;
        font-size: 2vh;
    }

    #footer #footer-info-right{
        text-align: right;
        height: 100%;
        width: 50%;
    }

    #footer #footer-info-right #link{
        font-size: 2vh;
        font-weight: 50;
        margin-top: 2.5vh;
        margin-right: 3vw;
        font-size: 2vh;
    }
    
    #footer #footer-info-right #link a{
        color: aliceblue;
        text-decoration: none;
    }

    
}

#header h1{
    font-size: 10vh;
    text-align: center;
    margin-bottom: 2vh;
}

#header hr{
    width: 35vh;
    margin: auto;
    border-top: 2px solid black;
    margin-bottom: 6vh;

    
}