@font-face {
    font-family: sassy-frass;
    src: url(content/SassyFrass-Regular.ttf);
    font-weight: bold;
}

@font-face {
    font-family: quiksand;
    src: url(content/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: opensans;
    src: url(content/OpenSansCondensed-Light.ttf);
}

img{
    max-width: 100%;
    box-shadow: 5px 10px 40px #000000;
}

body{
    margin: 0px;
}


#header {
    text-align: center;
    color: #000;
    font-size: 300%;
    font-family: sassy-frass;
    margin-top: 6%;
}

#some{
    background-color: #876445;
    overflow:auto;
}

.profiilit{
    min-width: 44%;
    float: left;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2.5%;
}

textarea{
    resize: none;
}

#tietoja{
    background-color: #F4DFBA;
    overflow:auto;
    border-color: black;
    border-bottom: 2px solid;
}

h2{
    font-size: 2.5vh;
    font-family: quiksand;
}

.teksti_ja_kuva{
    text-align: center;
    float: left;
    max-width: 44%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: -2.5%;
    margin-bottom: 1.5%;
}

.otsikko{
    font-family: opensans;
    font-size: 7vh;
    margin-left: 3%;
    font-weight: 500;
    
    
}
form{
    margin-top: 10%;
}

form .submit{
    background-color: rgb(0, 137, 228);
    color: white;
    font-family: quiksand;
    font-weight: 700;
    letter-spacing: 2px;
}

.form-control{
    background: #fff;
    border: none;
    margin-bottom: 2%;
    border-color: black;
    min-width: 94%;
    max-width: 94%;
    height: 10vh;
    margin-right: 3%;
    margin-left: 3%;
    font-family: quiksand;
}

@media (max-width: 600px){
    .profiilit{
        min-width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 1.5%;
    }

    .teksti_ja_kuva{
        min-width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 3.5%;
    }

    .form{
        margin-top: -2.5%;
    }
    
}


